*.pyc
*.swp
backup/
results/
software/
dataset/
__pycache__/
baselines/
temp*
tmp_vis.png
*.pt
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/SEAL_OGB.iml
.idea/vcs.xml
.idea/workspace.xml
